@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    text-decoration: none;
}

body{
   background-color: #5C5C67; 
   font-family: Rubik;
}

*:focus {
    outline: none;
}

.fa{
    width: 1vw;
}

.form-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 1vw;
    background-color: #181820;
    border-radius: 8px;
    overflow: hidden;
}

.form-container{
    position: relative;
    bottom: 10vh;
    height: 60vh;
    display: flex;
    color: #AEAEB0;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title{
    color: #FFFFFF;
    font-size: 3vw;
}

.form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 8px;
    border: 2px solid #2B2B37;
    padding: 1vh 1vw;
    background-color: #181820;
    color: #AEAEB0;
}

.form-input::placeholder{
    color: #AEAEB0;

}

.providers{
    cursor: pointer;
    gap: 0.8vw;
}

.providers > i{
    color: #ffff;
    font-size: 1vw;
}

.form-sumbit-button{
    width: 17vw;
    background: linear-gradient( to right top, #802698, #F288BF, #FBC092);
    border: none;
    padding: 1.5vh 1vw;
    border-radius: 4px;
    cursor: pointer;
    color: white;

}

.text-action{
    color: white;
    cursor: pointer;
    border-bottom: none;
}

.black-circle{
    position: relative;
    left: 10vw;
    bottom: 10vh;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient( to right top, #111116, #2E2E3E);
}

.pink-circle{
    position: relative;
    right: 12vw;
    bottom: 9vh;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: linear-gradient( to right top, #802698, #F288BF, #FBC092);
}